@model SchoolManagementWebApp.Models.Class

@{
    ViewData["Title"] = "Details";
    var schedules = Model.ClassSubjectTeachers.SelectMany(cst => cst.Schedule).ToList();
}

<h1>Details</h1>

<div>
    <h4>Class</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>




<h1>Teachers</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Teacher's Name
            </th>
            <th>
                Subject
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model.ClassSubjectTeachers)
        {
           
                
                <tr>
                    <td>
                        @if (s.Teacher != null)
                        @Html.DisplayFor(modelItem => s.Teacher.FullName)
                    </td>
                        <td>
                    @if (s.Subject != null)

                        @Html.DisplayFor(modelItem => s.Subject.SubjectName)
                        </td>

                </tr>
            
        }
    </tbody>
</table>
<h1>Students</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Students' Name
            </th>
            <th>
                Father's Name
            </th>
        </tr>
        </thead>
    <tbody>
            @foreach (var s in Model.Students)
            {
                    <tr>
                        <td>
                        @Html.DisplayFor(modelItem => s.Name)
                        </td>
                            <td>
                        @Html.DisplayFor(modelItem => s.FatherName)
                            </td>

                    </tr>
            }
    </tbody>
</table>


