@model SchoolManagementWebApp.ViewModels.StaffTeacherViewModel

@{
    ViewData["Title"] = "teachers and staff";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-controller="Staffs">Create New</a>
</p>

<table class="table">
<h2>Teachers</h2>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Date of birth
            </th>
            <th>
                profession
            </th>
            <th>SSN</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var teacher in Model.Teachers) 
        {
            <tr>
                <td>
                    @teacher.FullName
                </td>
                <td>@teacher.DateOfBirth</td>
                    <td>
                    @teacher.FIeldOfProfession
                    </td>
                    <td>@teacher.SocialSecurity</td>
                        <td>
                        <a asp-controller="Teachers" asp-action="Edit" asp-route-id="@teacher.Id">Edit</a> |
                            <a asp-controller="Teachers" asp-action="Details" asp-route-id="@teacher.Id">Details</a> |
                            <a  asp-controller="Teachers" asp-action="Delete" asp-route-id="@teacher.Id">Delete</a>
                    </td>
            </tr>
        }
    </tbody>
</table>
<table class="table">
    <h2>Staffs</h2>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Date of birth
            </th>
            <th>
                Role
            </th>
            <th>SSN</th>
        </tr>
    </thead>
    <tbody>
		@foreach (var staff in Model.Staffs)
		{
				<tr>
                        <td >
					@staff.Name
					</td>
					<td >@staff.DateOfBirth</td>
                            <td >
					@staff.StaffRole.RoleName
						</td>
                            <td >@staff.SocialSecurity</td>

                <td >
                        <a  asp-controller="Staffs" asp-action="Edit" asp-route-id="@staff.Id">Edit</a> |
                        <a   asp-controller="Staffs" asp-action="Details" asp-route-id="@staff.Id">Details</a> |
                        <a   asp-controller="Staffs" asp-action="Delete" asp-route-id="@staff.Id">Delete</a>
                </td>
				</tr>
		}
    </tbody>
</table>

